@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #f3f5fc;
}

main {
  display: flex;
}

.logo_alura {
  width: 5%;
  margin: 40px 0px 20px 40px;
}

/* Sección Texto */
.texto {
  padding-left: 4.5rem;
  padding-bottom: 2rem;
  width: 65%;
}

.texto #texto_ingresado {
  resize: none;
  border: 0;
  background: none;
  color: #0a3871;
  font-size: 2rem;
  height: 80%;
  width: 80%;
  text-align: justify;
  text-justify: inter-word;
  outline: none;
  padding-left: 10rem;
  padding-bottom: 5rem;
}

/* Sección Mensaje */
.mensaje {
  background-color: white;
  border-radius: 32px;
  float: right;
  margin-top: -4rem;
  margin-left: 13rem;
  box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
  position: relative;
  width: 400px;
  height: 800px;
}

.mensaje .contenedor_ayuda {
  visibility: visible;
}

.mensaje .contenedor_ayuda .dibujo {
  position: absolute;
  top: 13rem;
  right: 2.3rem;
}

.mensaje .contenedor_ayuda .contenedor_informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  top: 35rem;
  position: absolute;
}

.mensaje .contenedor_ayuda .contenedor_informacion h3 {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  color: #343a40;
  position: absolute;
  margin-top: -1.5rem;
}

.mensaje .contenedor_ayuda .contenedor_informacion p {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #495057;
  margin-top: 3rem;
}

.mensaje .mensaje_procesado {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 32px;
  float: right;
  margin-top: 0.1rem;
  margin-left: 13rem;
  box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
  width: 400px;
  height: 800px;
  align-items: center;
  visibility: hidden;
}

.mensaje .mensaje_procesado p {
  font-weight: 400;
  margin: 3rem 1rem;
  padding: 1.5rem;
  color: #495057;
  font-size: 1.2rem;
  text-align: center;
  width: 360px;
  height: 600px;
  background-color: white;
  overflow: auto;
  overflow-wrap: break-word;
}

.mensaje .mensaje_procesado #btn_copiar {
  width: 75%;
  color: #0a3871;
  background-color: white;
  border: 1px solid #0a3871;
  margin-top: 0.95rem;
  z-index: 1;
  
}

.mensaje .mensaje_procesado #btn_copiar:hover {
  color: white;
  background-color: #0a3865;
}

.mensaje .mensaje_procesado .tooltip {
  visibility: hidden;
  width: 150px;
  background-color: #0a3871;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 12%;
  left: 48%;
  margin-left: -60px;
}

/* Sección Botones */
.botones {
  width: 50%;
  position: absolute;
  bottom: 8rem;
  left: 15rem;
  box-sizing: border-box;
}

.botones .contenedor_instrucciones {
  display: flex;
  flex-direction: row;
}

.botones .contenedor_instrucciones .bi-exclamation-circle-fill {
  width: 18px;
  height: 18px;
  color: #65747d;
  padding: 0 6px 0 15px;
}

.botones .contenedor_instrucciones p {
  font-size: 0.9rem;
  color: #959aa1;
  padding: 1px 20px 20px 20px;
}

button {
  width: 30%;
  padding: 15px 0;
  font-size: 1rem;
  border-radius: 24px;
  cursor: pointer;
  margin: 0 0.5rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

button:disabled,
button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

button:disabled:hover,
button[disabled]:hover {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

#btn_encriptar {
  color: white;
  background-color: #0a3871;
  border: none;
}

#btn_encriptar:hover {
  box-shadow: inset 450px 0 0 0 #2b93c8;
}

#btn_desencriptar {
  color: #0a3871;
  background-color: #d8dfe8;
  border: 1px solid #0a3871;
}

#btn_desencriptar:hover {
  box-shadow: inset -450px 0 0 0 #2b93c8;
  color: white;
  border: none;
}

#btn_reiniciar {
  background-color: #2b93c8;
  color: white;
  border: none;
  visibility: hidden;
}

#btn_reiniciar:hover {
  background-color: #46b5ed;
}

/* Sección footer */
footer {
  padding: 20px;
  margin-top: 10px;
  font-family: "Ubuntu", sans-serif;
}

footer .copyright {
  text-align: center;
  color: #0a3871;
}

/* RESPONSIVE */

/*Dispositivos XXG (hasta 1600px) 
  PC: 1600×900 */
@media screen and (max-width: 1600px) {
  .logo_alura {
    margin: 40px 0px 40px 40px;
  }

  .texto #texto_ingresado {
    overflow: auto;
    overflow-wrap: break-word;
    padding: 1.5rem;
  }

  .mensaje {
    height: 600px;
    right: 5rem;
  }

  .mensaje .contenedor_ayuda .dibujo {
    position: absolute;
    top: 5.5rem;
  }

  .mensaje .contenedor_ayuda .contenedor_informacion {
    top: 27rem;
  }

  .mensaje .mensaje_procesado {
    height: 600px;
  }

  .mensaje .mensaje_procesado p {
    margin: 2rem 0.5rem;
    padding: 0.8rem;
    height: 500px;
    text-align: start;
  }

  .mensaje .mensaje_procesado #btn_copiar {
    width: 75%;
    margin-bottom: 1.8rem;
  }

  .mensaje .mensaje_procesado .tooltip {
    bottom: 15%;
  }

  .botones {
    bottom: 7rem;
    left: 5.5rem;
  }

  footer {
    font-size: 0.8rem;
    margin: 0;
    padding: 0 0 10px 0;
  }

  footer .copyright {
    margin: 20px 0;
  }
}

/* Dispositivos G (hasta 1080px)
  Celular: 1080x2460 (portrait) 2460x1080 (landscape)*/
/* @media screen and (max-width: 1080px)  {
    .logo_alura {
      width: 15%;
      margin: 60px 0 25px 20px;
    }
  
    .texto {
      position: absolute;
      padding: 0;
      width: 980px;
      height: 1000px;
      top: 180px;
      left: 50px;
      margin: 0 40px;
    }
  
    .texto #texto_ingresado {
      font-size: 2rem;
      height: 98%;
      padding: 10px;
      overflow: auto;
      overflow-wrap: break-word;
    }
  
    .mensaje {
      top: 75rem;
      left: 100px;
      margin: 0;
      padding: 0;
      width: 840px;
      height: 900px;
      float: none;
    }
  
    .mensaje .contenedor_ayuda .dibujo {
        position: absolute;
        height: 60%;
        top: 19rem;
        left: 6rem;
      }
    
      .mensaje .contenedor_ayuda .contenedor_informacion {
        top: 8.5rem;
        left: 7rem;
        width: 640px;
      }
  
    .mensaje .contenedor_ayuda .contenedor_informacion h3 {
      font-size: 2.5rem;
    }
  
    .mensaje .contenedor_ayuda .contenedor_informacion p {
      font-size: 2rem;
      margin-top: 1.5rem;
    }
  
    .mensaje .mensaje_procesado {
      margin: 0;
      width: 840px;
      height: 900px;
    }
  
    .mensaje .mensaje_procesado p {
      padding: 10px;
      font-size: 1.5rem;
      width: 780px;
      height: 900px;
    }
  
    .mensaje .mensaje_procesado #btn_copiar {
      padding: 20px;
      margin-bottom: 3rem;
    }
  
    .mensaje .mensaje_procesado .tooltip {
      bottom: 15%;
    }
  
    .botones {
      width: 900px;
      top: 69rem;
      left: 2rem;
      margin: 0 60px;
    }
  
    .botones .contenedor_instrucciones {
      margin: 0 100px 0 17px;
    } 
  
    .botones .contenedor_instrucciones .bi-exclamation-circle-fill {
      width: 18px;
      height: 18px;
      padding: 10px 0;
    }
  
    .botones .contenedor_instrucciones p {
      font-size: 1.25rem;
      margin: 0;
      padding: 12px;
    }
  
    button {
      width: 400px;
      height: 65px;
      font-size: 1.3rem;
    }

    #btn_reiniciar {
      margin-left: 210px;
      margin-top: 15px;
    }

    footer {
      margin-top: 1300px;
      font-size: 1.4rem;
    }
  }
*/

/* Dispositivos M (hasta 800px)
  Tablet: 800x1280 (portrait) 1280x800 (landscape)*/
@media screen and (max-width: 800px) {
  body {
    overflow-y: hidden;
  }

  .logo_alura {
    width: 10%;
    margin: 60px 0 25px 20px;
  }

  .texto {
    position: absolute;
    padding: 0;
    width: 688px;
    height: 500px;
    top: 130px;
    left: 40px;
  }

  .texto #texto_ingresado {
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: auto;
    overflow-wrap: break-word;
  }

  .mensaje {
    top: 56rem;
    left: 60px;
    margin: 0 20px;
    padding: 0;
    width: 640px;
    height: 150px;
    float: none;
  }

  .mensaje .contenedor_ayuda .dibujo {
    display: none;
  }

  .mensaje .contenedor_ayuda .contenedor_informacion {
    top: 30px;
    width: 640px;
    top: 4rem;
  }

  .mensaje .contenedor_ayuda .contenedor_informacion h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  .mensaje .contenedor_ayuda .contenedor_informacion p {
    font-size: 1.3rem;
    margin-top: 0.8rem;
  }

  .mensaje .mensaje_procesado {
    border-radius: 32px;
    margin: 0 -25px;
    width: 688px;
    height: 340px;
  }

  .mensaje .mensaje_procesado p {
    margin: 20px;
    padding: 10px;
    width: 624px;
    height: 350px;
    overflow-y: hidden;
    overflow-wrap: break-word;
  }

  .mensaje .mensaje_procesado #btn_copiar {
    width: 90%;
    margin: 20px;
    padding: 20px;
  }

  .mensaje .mensaje_procesado .tooltip {
    bottom: 20%;
  }

  .botones {
    width: 688px;
    height: 120px;
    bottom: 20rem;
    left: 40px;
    padding: 10px 0;
  }

  .botones .contenedor_instrucciones {
    margin: 0 20px 0 17px;
  }

  .botones .contenedor_instrucciones .bi-exclamation-circle-fill {
    width: 15px;
    height: 15px;
    padding: 10px;
  }

  .botones .contenedor_instrucciones p {
    font-size: 0.75rem;
    margin: 0;
    padding: 12px;
  }

  button {
    width: 300px;
    height: 55px;
    font-size: 0.9rem;
    margin: 5px 20px 20px 20px;
  }

  #btn_reiniciar {
    margin-left: 180px;
    margin-top: -10px;
  }

  footer {
    margin: 60rem 0 0 0;
    font-size: 0.75rem;
  }

  footer .copyright {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 1280) and (orientation: landscape) {
  footer {
    margin-top: 7rem;
  }
}
/* Dispositivos CH (hasta 720px) 
  Celular: 720x1440 (portrait) 1440x720 (landscape)*/
@media screen and (max-width: 720px) {
  .logo_alura {
    width: 20%;
    margin: 60px 0 25px 20px;
  }

  .texto {
    position: absolute;
    padding: 10px;
    width: 650px;
    height: 600px;
    top: 130px;
    left: 20px;
    margin: 20px;
  }

  .texto #texto_ingresado {
    font-size: 1.8rem;
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: auto;
    overflow-wrap: break-word;
  }

  .mensaje {
    top: 50rem;
    left: 40px;
    margin: 0;
    width: 640px;
    height: 200px;
    float: none;
  }

  .mensaje .contenedor_ayuda .dibujo {
    display: none;
  }

  .mensaje .contenedor_ayuda .contenedor_informacion {
    top: 80px;
    width: 640px;
  }

  .mensaje .contenedor_ayuda .contenedor_informacion h3 {
    font-size: 2rem;
    margin-top: -1.5rem;
  }

  .mensaje .contenedor_ayuda .contenedor_informacion p {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  .mensaje .mensaje_procesado {
    margin: 0;
    width: 640px;
    height: 400px;
  }

  .mensaje .mensaje_procesado p {
    margin: 20px;
    padding: 10px;
    font-size: 1.2rem;
    width: 620px;
    height: 500px;
  }

  .mensaje .mensaje_procesado #btn_copiar {
    width: 90%;
    margin-top: 8rem;
    padding: 20px;
  }

  .mensaje .mensaje_procesado .tooltip {
    bottom: 20%;
  }

  .botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 688px;
    height: 300px;
    top: 45rem;
    left: 20px;
  }

  .botones .contenedor_instrucciones {
    margin-left: 60px;
    align-self: flex-start;
  }

  .botones .contenedor_instrucciones .bi-exclamation-circle-fill {
    width: 15px;
    height: 15px;
    padding: 10px;
  }

  .botones .contenedor_instrucciones p {
    font-size: 0.9rem;
    margin: 0;
    padding: 12px;
  }

  button {
    width: 80%;
    height: 60px;
    font-size: 1.4rem;
    margin: 0 20px 20px 20px;
  }

  #btn_reiniciar {
    margin-left: 20px;
    margin-top: 5px;
  }

  footer {
    margin-top: 65rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1440px) and (orientation: landscape) {
  footer {
    margin-top: 2rem;
  }
}